<footer class="site-footer">

    <div class="wrapper">

        <img class="footer-avatar alignleft" src="/assets/images/avatar.png" alt="Joey Day" />
            
        <p>
            Hi, I’m Joey. I’m a 30-something software engineer (read: big nerd) in Salt Lake
            City. When I grow up I’d like to be a seminary professor (read: even bigger nerd).
            You can find me elsewhere on {% include link-twitter.html username=site.twitter_username %},
            {% include link-facebook.html username=site.facebook_username %}, and
            {% include link-github.html username=site.github_username %}.
        </p>

    </div>

</footer>
