---
layout: default
---
<div class="home">

    {{ content }}
    
    {% for post in site.posts %}
        <article class="post hentry">
            <header class="entry-header">
                <h1 class="entry-title" itemprop="name headline">
                    <a href="{{ post.url | relative_url }}" rel="bookmark">{{ post.title | escape }}</a>
                </h1>
                
                {% if post.subtitle %}
                    <div class="entry-subtitle">{{ post.subtitle | escape }}</div>
                {% endif %}
                
                <div class="entry-meta">
                  <span class="posted-on">
                    <time class="entry-date published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {% assign date_format = site.minima.date_format | default: "%A, %B %e, %Y" %}
                        {{ post.date | date: date_format }}
                    </time>
                </div>
            </header>
        
            <div class="entry-content" itemprop="articleBody">
                {{ post.excerpt }}

                {% if post.excerpt != post.content %}
                    <p><a href="{{ post.url | relative_url }}">Continue reading “{{ post.title | escape }}” ›</a></p>
                {% endif %}
            </div>
        </article>
    {% endfor %}

</div>
